<div class="center game-board">
  <% [0, 3, 6].each do |i| %>
    <div class="row">
      <% (0..2).each do |j| %>
        <div class="square board-<%= i+j %>">
          <% if !@game.board[i+j] %>
            <%= form_for @game, url: update_game_play_path(@game) do |f| %>
              <%= f.submit '', class: "board-button" %>
              <%= f.hidden_field :selected_board_index, value: i+j %>
            <% end %>
          <% else %>
            <div class="mark <%= @game.board[i+j] %>">
              <%= @game.board[i+j] %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<h1 class="center">
  <span class="<%= @game.get_mark_for_turn %>"><%= @game.get_mark_for_turn %></span>'s Turn
</h1>
