<div class="center rules">
</div>
<br>
<div class="center">
  <%= form_for(@game) do |f| %>
    <%= f.hidden_field :is_single_player, value: true %>
    <%= f.submit 'One Player', class: "button" %>
  <% end %>
  <%= form_for(@game) do |f| %>
      <%= f.hidden_field :is_single_player, value: false %>
    <%= f.submit 'Two Players', class: "button" %>
  <% end %>
</div>