<div class="center game-board">
  <% [0, 3, 6].each do |i| %>
    <div class="row">
      <% (0..2).each do |j| %>
        <div class="square board-<%= i+j %>">
          <% if @game.board[i+j] %>
            <div class="mark <%= @game.board[i+j] %>">
              <%= @game.board[i+j] %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<h1 class="center">
  Winner: <span class="<%= @game.victor %>"><%= @game.victor %></span>
</h1>
