<div class="center game-board">
  <% [0, 3, 6].each do |i| %>
    <div class="row">
      <% (0..2).each do |j| %>
        <div class="square board-<%= i+j %>">
          <% if @game.board[i+j] %>
            <div class="mark <%= @game.board[i+j] %> <%= "win" if @game.win.split(' ').include?((i+j).to_s) %>">
              <%= @game.board[i+j] %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% if @game.victor %>
  <h1 class="center">
    <% if @game.victor == "TIE" %>
      <span class="<%= @game.victor %>"><%= @game.victor %></span>
    <% else %>
      Winner: <span class="<%= @game.victor %>"><%= @game.victor %></span>
    <% end %>
  </h1>
<% else %>
  <div class="center">
    <%= button_to "Resume Play", game_play_path(@game), :method => "get", :class => "button" %>
  </div>

<% end %>
<br>
  <div class="center">
    <%= button_to "Back to Main Menu", :root, :method => "get", :class => "button" %>
  </div>
